h1 {
    color: teal;
}

h2 {
    color: blue;
}

strong {
    color: red;
}

.destacado {
    color: orange;
}

a{
    color: red;
}

a em{
    color: blue;
}

.especial{
    color: purple;
}

table {
    border-collapse: collapse;
}