body{
    font-family: Calibri, Arial, Helvetica,sans-serif;
}
h1, h2{
    font-family: Cambria,Times,serif;
    letter-spacing: 0.5em;
}
h1{
    color: #1f497D;
    background-color: #BFBFBF;
    font-size: 24px;
    word-spacing: 1.5em;
    text-align: center;
}
h2{
    color: #632423;
    font-size: 18;
    text-transform: uppercase;
}
li{
    font-weight: bold;
    font-style: italic;
}
strong{
    font-weight: normal;
    font-variant: small-caps;
}