body{
    text-align: center;
}
li{
    list-style-position: inside;
}
.lista-sin{
    list-style: none;
}
.lista-circulos{
    list-style: circle;
}
.lista-cuadrados{
    list-style: square;
}
.lista-romanos{
    list-style: lower-roman;
}
.lista-griegos{
    list-style: lower-greek;
}